.list {
  list-style: none;
  .drag-move {
    transition: transform .3s;
  }
  .list-item {
    cursor: move;
  }
}


.d-box{
  display: flex;
  flex-wrap: wrap;
  .t-box{
    margin: 0 20px;
    .list{
      padding: 0;
      .list-item{
        margin: 10px 0;
        height: 30px;
      }
    }
  }
}
.div-box{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3eaf7c;
  width: 300px;
  border-radius: 5px;
  color: #fff;
}
.h-box{
  .list{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .list-item{
    margin: 5px !important;
    height: 50px !important;
  }
  .list-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background: #3eaf7c;
    color: #fff;
  }
}